* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

:root {
  --color-white: white;
  --color-verde: #49d0b0;
  --color-bgli: #61e1ca;
}

.content {
  padding: 1rem;
}

.content h1 {
  margin: 0;
}
/* lista ordenada */

.pokemons {
  color: var(--color-white);
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokemon {
  background-color: var(--color-verde);
  border-radius: 1rem;

  margin: 0.5rem;
  padding: 20px;

  display: flex;
  flex-direction: column;

}

.pokemon .number {
  color: rgba(0, 0, 0, 0.616);
  font-size: .625rem;

  text-align: right;
}
.pokemon .name {
    margin-bottom: 0;
}

.pokemon .detail {
    
  display: flex;
  flex-direction: row;
  align-items: center;

  
}
.pokemon .detail .types {
  padding: 0;
  margin: 0;

  list-style: none;
}
.pokemon .detail .types li{

color: white;
background-color:var(--color-bgli);
border-radius: .635rem;
font-size: .825rem;
 
margin: .5em;
padding: .25rem .5rem;

}

.pokemon .detail img {
  height: 70px;
  padding-right: .3em;
}
